<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include partials/header %>
    </header>

    <% if (!currentUser) { %>
        <div class="container">
            <div class="landing center">
                <h2>Welcome</h2>
                <h4>Please sign up or log in</h4>
                <a class="btn btn-signup" href="signup" role="button">Sign Up</a>
                <a class="btn btn-login" href="login" role="button">Log In</a>
            </div>
        </div> <!-- body wrapper -->


    <% } else { %>
        <div class="container">
        </div>
    <% } %>

    <footer>
        <% include partials/footer %>
    </footer>

    <% include partials/scripts %>
</body>
</html>
